:host {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.vault-wrapper {
    transform-origin: top left;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vault-door-outer {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 6%;

    * {
        box-sizing: content-box;
    }

    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 6%;
    margin: 0;

    .vault-door-inner {
        position: absolute;
        margin: 10.4px;
        width: 78px;
        height: 78px;
        background: rgb(25, 11, 55);
        border-radius: 25%;

        .vault-door-lock-shadow {
            position: absolute;
            width: 68px;
            height: 36px;
            background: -webkit-linear-gradient(rgba(36, 11, 36, .2), transparent);
            margin: 34px 18px;
            transform: rotate(-45deg);
            transition: all .05s ease-out;
        }

        .vault-door-lock-wrapper {
            position: absolute;
            width: 38px;
            height: 38px;
        }

        .vault-door-lock {
            background: linear-gradient(145deg, #5c3a8e, #a88bd2);
            z-index: 2;
        }

        .vault-door-circle {
            position: absolute;
            width: 62px;
            height: 62px;
            margin: 8px;
            border-radius: 50%;
        }

        .vault-door-pistons {
            z-index: 1;
            position: absolute;
            width: 68px;
            height: 22px;
            margin: 36px 5px;
            background: none;

            .piston {
                position: absolute;
                background: linear-gradient(145deg, #5c3a8e, #a88bd2);
                width: 68px;
                height: 6px;
                border-radius: 1.6px;
                transition: all 1s ease-out;

                &.piston2 {
                    transform: rotate(45deg);
                }

                &.piston3 {
                    transform: rotate(90deg);
                }

                &.piston4 {
                    transform: rotate(135deg);
                }
            }
        }

        .vault-door-handle-shadow {
            position: absolute;
            background: linear-gradient(145deg, #180b2f, #21172e);
            width: 30px;
            height: 30px;
            margin: 24px;
            border-radius: 50%;
            z-index: 3;
        }

        .vault-door-handle-long-shadow {
            position: absolute;
            background: -webkit-linear-gradient(transparent);
            width: 37.2px;
            height: 37.2px;
            margin: 33px;
            transform: rotate(-45deg);
            z-index: 3;
        }

        .vault-door-handle {
            position: absolute;
            border: solid 4.6px #5f1c73;
            width: 28px;
            height: 28px;
            margin: 20.4px;
            border-radius: 50%;
            transition: all 2s ease-in-out;
            z-index: 3;

            .handle-bar {
                position: absolute;
                background: #5f1c73;
                height: 4.4px;
                width: 28px;
                margin: 11.8px 0;

                &.bar1 {
                    transform: rotate(45deg);
                }

                &.bar2 {
                    transform: rotate(135deg);
                }
            }
        }
    }

    &.hovered {
        .vault-door-lock-shadow {
            transform: rotate(-180deg);
            transition: all 2.7s ease-in-out !important;
        }

        .vault-door-handle {
            transform: rotate(-720deg);
            transition: all 1.0s ease-in-out;
        }
    }
}

.vault-door-handle {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.05),
        0 0 10px rgba(164, 108, 255, 0.3);
}

.vault-door-outer.hovered {
    .piston.piston1 {
        transform: rotate(270deg) !important;
    }

    .piston.piston2 {
        transform: rotate(315deg) !important;
    }

    .piston.piston3 {
        transform: rotate(360deg) !important;
    }

    .piston.piston4 {
        transform: rotate(405deg) !important;
    }
}