input {
    font-family: 'Nunito Sans';
    font-size: 1em;
    color: #673772;

    background-color: #090411;
    border: none;
    outline: none;

    border-radius: 15px;
    width: 100%;
    padding: 12px 15px;

    transition: .5s ease-in;

    &::placeholder {
        color: #45264c;
    }
}