textarea {
    font-family: 'Nunito Sans';
    font-size: 1em;
    color: #673772;

    background-color: #090411;
    border: none;
    outline: none;

    border-radius: 15px;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    padding: 15px;

    resize: none;
    transition: .5s ease-in;

    &::placeholder {
        color: #45264c;
    }

    &.green {
        box-shadow: 0 0 5px 1px #264126;
    }

    &.red {
        box-shadow: 0 0 5px 1px #642525;
    }
}

textarea::-webkit-resizer {
    display: none;
}