<div class="d-flex align-items-center justify-content-center pt-3 flex-column">
    <h1 class="m-0">Aporia Vault</h1>
    <h2>Only what is truly yours can be kept.</h2>
    <div class="d-flex align-items-center justify-content-center gap-3">
        <app-button [text]="'New vault'" [icon]="'fa-plus'" [width]="'120px'"></app-button>
        <app-button [text]="'Import vault'" [icon]="'fa-up-from-line'" [width]="'120px'"></app-button>
    </div>
</div>

<div class="w-100 d-flex align-items-center justify-content-center">
    <hr class="separator">
</div>

<div class="d-flex align-items-center justify-content-center my-vaults">
    <div *ngFor="let vault of vaults" class="vault" (mouseenter)="hoveredVault = vault"
        (mouseleave)="hoveredVault = null">
        <div class="d-flex align-items-center justify-content-center vault-header">
            <i class="fa-duotone fa-solid fa-vault"
                style="--fa-primary-color: #694276; --fa-primary-opacity: 0.6; --fa-secondary-color: #694276; --fa-secondary-opacity: 1;"></i>
        </div>
        <div class="vault-body">
            <div class="d-flex align-items-center justify-content-center gap-2">
                <i class="fa-solid fa-lock-keyhole icons"></i>
                <h2 class="m-0 text-center">{{ vault }}</h2>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-2">
                <app-vault-element class="vault-element" [hover]="hoveredVault === vault">
                </app-vault-element>
            </div>
        </div>
    </div>
</div>