<div class="d-flex align-items-center justify-content-center pt-3 flex-column">
    <h1 class="m-0">Aporia Vault</h1>
    <h2 class="m-0">Only what is truly yours can be kept.</h2>
</div>

<div class="w-100 d-flex align-items-center justify-content-center">
    <hr class="separator">
</div>

<div class="d-flex align-items-center justify-content-center my-vaults">
    <div class="vault">
        <div class="d-flex align-items-center justify-content-center vault-header">
            <i class="fa-duotone fa-solid fa-vault" style="--fa-primary-color: #694276; --fa-primary-opacity: 0.6; --fa-secondary-color: #694276; --fa-secondary-opacity: 1;"></i>
        </div>
        <div class="vault-body">
            <div class="d-flex align-items-center justify-content-center mb-2 gap-2">
                <!-- <div class="circle"></div> -->
                <i class="fa-solid fa-lock-keyhole icons"></i>
                <h2 class="m-0 text-center">Vault name</h2>
            </div>
            <p class="text-center">#1</p>
        </div>
    </div>
</div>