.my-vaults {
    gap: 10px;

    .vault {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        cursor: pointer;
        transition: .3s ease-in;

        $background-vault: #190b37;

        .vault-header {
            background-color: $background-vault;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

            width: 40px;
            padding-top: 7px;
            margin-bottom: -5px;

            border-radius: 15px 15px 0px 0px;
        }

        .vault-body {
            background-color: $background-vault;
            box-shadow: 0 6px 9px rgba(96, 13, 190, 0.05);

            width: 200px;
            padding: 15px;

            border-radius: 15px;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}