<div class="modal-backdrop fade show" *ngIf="isVisible || isClosing" [ngClass]="{ 'fade-out-backdrop': isClosing }">
</div>

<div class="modal fade show d-block custom-modal" tabindex="-1" role="dialog" aria-modal="true"
    *ngIf="isVisible || isClosing" [ngClass]="{ 'fade-out': isClosing }">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="m-0">{{ vaultName }}</h1>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-vault icons"></i>
                        <h2 class="mb-0">Vault options</h2>
                    </div>
                    <div class="bitcoin-settings gap-2 d-flex flex-column">
                        <app-checkbox [text]="'Has .aporiakey?'" [(checked)]="newBtcAddress"
                            (checkedChange)="hasAporiaKey($event)"></app-checkbox>
                        <div [@elementTransition]="newBtcAddress ? 'visible' : 'hidden'"
                            (@elementTransition.done)="hasAporiaKeyAnimation($event)">
                            <app-input [type]="'file'" [placeholder]="'Select your .aporiakey file'"
                                (fileSelected)="onAporiaKeySelected($event)">
                            </app-input>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-key icons"></i>
                        <h2 class="mb-0">Password information</h2>
                    </div>
                    <div class="vault-settings gap-2 d-flex flex-column">
                        <app-input [type]="'password'" [placeholder]="'Your secure password'"
                            [(model)]="securePassword"></app-input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <app-button [text]="'Open'" [icon]="'fa-folder-open'" (click)="confirm()"></app-button>
                <app-button [text]="'Cancel'" [icon]="'fa-xmark'" (click)="close()"></app-button>
            </div>
        </div>
    </div>
</div>