@font-face {
    font-family: 'Nunito Sans';
    src: url('../public/fonts/nunito-sans.ttf');
}

html,
body {
    height: 100%;
}

* {
    user-select: none;
}

// Text styles

h1 {
    font-family: 'Nunito Sans' !important;
    font-weight: 600 !important;
    font-size: 2em !important;

    color: #a250bb !important;
}

h2 {
    font-family: 'Nunito Sans' !important;
    font-weight: 500 !important;
    font-size: 1.2em !important;

    color: #7f508e !important;
}

h3 {
    font-family: 'Nunito Sans' !important;
    font-weight: 500 !important;
    font-size: 1.5em !important;

    color: #7f508e !important;
}

p {
    font-family: 'Nunito Sans' !important;
    font-weight: 400 !important;
    font-size: 1em !important;

    color: #694276 !important;
}

.icons {
    color: #694276;
}

// Elements

.circle {
    width: 12px;
    height: 12px;

    border-radius: 100%;

    background-color: black;
}

.separator {
    width: 80%;
    border-bottom: solid 1px #764a84;
}

// Scroll

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f061b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #4d145a, #5f1c73); // estilo roxo metálico
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #5f1c73, #a88bd2); // cor ao passar o mouse
}